body {
    font-family: "Open Sans";
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}
.hero_section{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 837px;
    background: #FFF8F3;
}
.hero_section nav > h2{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}